# Dependências
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.*.local

# Diretórios de build
dist/
build/

# Cache
.cache/
.next/
out/

# Arquivos temporários
tmp/
temp/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Testes e coverage
coverage/
.nyc_output/

# Outros
*.tgz
*.swp
